* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  text-align: center;
}

body {
  background-color: #bcbec0;
  padding: 20px;
}

.container {
  max-width: 1000px;
  margin: auto;
}

header,
footer {
  color: white;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 15px;
}

header {
  background-color: #8e2460;
}

footer {
  background-color: #f4782c;
}

.layout {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 15px;
}

aside {
  background-color: #12507f;
  color: white;
  padding: 20px;
  border-radius: 10px;
}

main {
  background-color: #34c69a;
  padding: 15px;
  border-radius: 10px;
}

article {
  background-color: #e62463;
  color: white;
  margin: 10px 0;
  padding: 20px;
  border-radius: 10px;
}

/* ---------- Tablet & Desktop View ---------- */
@media (min-width: 768px) {
  .layout {
    flex-direction: row;
  }

  aside {
    flex: 1;
    margin-right: 15px;
  }

  main {
    flex: 2;
  }
}
